*.o 
*.t
*.sfc
PocketSNES
pocketsnes/snes9x/*.o
menu/*.o
sal/*.o
sal/linux/*.o
sal/prizm/*.o
sal/sdl/*.o
platform/nspire/*.o
platform/nspire/*.o
platform/nspire/cpu/fame/*.o
platform/nspire/cpu/cz80/*.o
platform/nspire/Pico/*.o
platform/nspire/Pico/sound/*.o
platform/nspire/Pico/cd/*.o
platform/nspire/unzip/*.o
platform/nspire/zlib/*.o
platform/nspire/platform/common/*.o